# Project Milestone 1
## Identify Datasets

### Problem Statement
The first milestone of this project will be to select the data you want to work with. You will need to select 3 different data sources that have different file types of information – and the data will need to have a relationship between them. If one doesn’t exist, you will have to create one. It is likely you will need to manipulate the data to create a relationship. Finding the data, you want to work with for this project, will likely be the hardest part of the project. You must have one of each of the following types of datasets – and you need a minimum of 1000 rows across all datasets. Each dataset should have a minimum of 10 columns/variables.

### Solution

I will be using the following datasets for my project.
1.	CSV/Excel/PDF or another flat file source.
The data I downloaded is the District/Constituency wise Voter Information for the 2019 General Elections in India. The csv file being used was downloaded from the Election Commission of India website (eci.gov.in).
The csv/xls file we will be using for this step is: “13. PC Wise Voters Turn Out.xls”
2.	Website you want to pull data from
The second data source that I will look at is the District/ Constituency wise candidate results from Wikipedia. The table that I will be looking at is Table: - Results by constituency. Link for the webpage is as below: -
https://en.wikipedia.org/wiki/Results_of_the_2019_Indian_general_election
3.	API you will pull data from
The third data source, that I will use is openweathermap api or the iqair api for getting the historical weather and pollution data. I would pull the data for all 545 districts/constituency from the api.
The details of the same can be found at below urls:
https://www.iqair.com/dashboard/api - For now I am inclined more towards this as this has data available by city name, state name and Country. The city name is same as Parliamentary Constituency name or District Name.
https://openweathermap.org/api - Will use this, If I am able to figure out how to get the data based on city name. The documentation shows that I need to provide Latitude and Longitude information, then I might need another api to get the Lat and Long information for the constituency from there.
Note: Following files are located in below github location
https://github.com/abhigyanmisra/dsc540/tree/master/finalproject

#### Relationship between the data sources
The common relationship between them is the district or constituency name and I want to look at the pollution levels in each of the winning candidates’ constituencies. This may help in understanding what has been done by each of these candidates towards pollution control.
Below is the list of attributes and description from csv. The csv seems slightly improperly indented and split into columns.

1. State Name: This is the name of the state to which a constituency belongs to.
2. PC. No: This is the Parliamentary Constituency Number. This is unique per state.
3. PC. Name: This is the name of the Parliamentary Constituency. 
4. Electors: This is the total number of Electoral Votes for the parliamentary constituency.
5. Male: This is the total number of votes cast using the EVM (Electoral Voting Machine) by males
6. Female: This is the total number of votes cast using the EVM (Electoral Voting Machine) by females
7. Third Gender: This is the total number of votes cast using the EVM (Electoral Voting Machine) by transgender.
8. Total: This is the total number of votes cast using the EVM (Electoral Voting Machine).
9. NRI: This is the votes by Non-Resident Indians cast through EVM’s. This is an additional information and sum is not separately counted towards total EVM votes.
10. Postal Votes: This is the number of votes by postal mail.
11. Total Voters: This is the sum of Total EVM Votes and Postal Votes.
12. Voter Turnout (%): this is the %age of total votes cast
13. Voter Turnout (% - Male):  This is the %age of Male Voters who voted.
14. Voter Turnout (% - Female): This is the %age of Female Voters who voted.
15. Voter Turnout (% - Third Gender): This is the %age of Transgender Voters who voted.

Then from the website, we have the following details
1. State: This is the name of the State to which Parliamentary Constituency belongs to.
2. Parliamentary Constituency No: This is the Parliamentary Constituency Number. This is unique per state.
3. Parliamentary Constituency Name: This is the name of the Parliamentary Constituency.
4. Parliamentary Constituency Type: This is the Type of Seat reserved based on the Reservation Rules
5. Winner Candidate: This is the name of the Winning Candidate.
6. Winner Party: This is the party name to which winning candidate belongs.
7. Winner Votes: This is the total votes received by the winning candidate.
8. Runner Up Candidate: This is the name of the Runner up Candidate.
9. Runner Up Party: This is the party name to which runner up candidate belongs.
10. Runner Up Votes: This is the total votes received by the runner up candidate. 
11. Margin: This is difference of votes between the winning and runner up candidate.

To get the data from API, I will be hitting the following URL:
http://api.airvisual.com/v2/city?city=Los Angeles&state=California&country=USA&key={{YOUR_API_KEY}}

The detailed response would look like as follows:

{
  "status": "success",
  "data": {
    "name": "Eilat Harbor",
    "city": "Eilat",
    "state": "South District",
    "country": "Israel",
    "location": {
      "type": "Point",
      "coordinates": [
        34.939443,
        29.531814
      ]
    },
    "forecasts": [ //object containing forecast information
      {
        "ts": "2017-02-01T03:00:00.000Z",  //timestamp
        "aqius": 21, //AQI value based on US EPA standard
        "aqicn": 7, //AQI value based on China MEP standard
        "tp": 8, //temperature in Celsius
        "tp_min": 6, //minimum temperature in Celsius
        "pr": 976,  //atmospheric pressure in hPa
        "hu": 100, //humidity %
        "ws": 3, //wind speed (m/s)
        "wd": 313, //wind direction, as an angle of 360° (N=0, E=90, S=180, W=270)
        "ic": "10n" //weather icon code, see below for icon index
      }, 
    …  // contains more forecast data for upcoming 76 hours
    ]
    "current": {
      "weather": {
        "ts": "2017-02-01T01:00:00.000Z",
        "tp": 12,
        "pr": 1020,
        "hu": 62,
        "ws": 2,
        "wd": 320,
        "ic": "01n"
      },
      "pollution": {
        "ts": "2017-02-01T01:15:00.000Z",
        "aqius": 18,
        "mainus": "p1", //main pollutant for US AQI
        "aqicn": 20,
        "maincn": "p1",  //main pollutant for Chinese AQI
        "p1": {   //pollutant details, concentration and appropriate AQIs
          "conc": 20,
          "aqius": 18,
          "aqicn": 20
        }
      }
    },
    "history": { //object containing weather and pollution history information
      "weather": [
        {
          "ts": "2017-02-01T01:00:00.000Z",
          "tp": 12,
          "pr": 1020,
          "hu": 62,
          "ws": 2,
          "wd": 320,
          "ic": "01n"
        },
        … // contains more weather historical data for past 48 hours

      ]
      "pollution": [
        {
          "ts": "2017-02-01T01:15:00.000Z",
          "aqius": 18,
          "mainus": "p1",
          "aqicn": 20,
          "maincn": "p1",
          "p1": {
            "conc": 20,
            "aqius": 18,
            "aqicn": 20
          }
        },
      …  // contains more pollution historical data for past 48 hours

      ]
    },
    "units": { //object containing units information
      "p2": "ugm3", //pm2.5
      "p1": "ugm3", //pm10
      "o3": "ppb", //Ozone O3
      "n2": "ppb", //Nitrogen dioxide NO2 
      "s2": "ppb", //Sulfur dioxide SO2 
      "co": "ppm" //Carbon monoxide CO 
    }
  }
}

Below are a few examples of return codes that we may get. This list is not exhaustive.
1. success: returned when JSON file was generated successfully.
2. call_limit_reached: returned when minute/monthly limit is reached.
3. api_key_expired: returned when API key is expired.
4. incorrect_api_key: returned when using wrong API key.
5. ip_location_failed: returned when service is unable to locate IP address of request.
6. no_nearest_station: returned when there is no nearest station within specified radius.
7. feature_not_available: returned when call requests a feature that is not available in chosen subscription plan.
8. too_many_requests: returned when more than 10 calls per second are made.

The details about each of the response attributes can be found in detailed response above. The one’s which I will specifically look at are pollution params units are   
      "p2": "ugm3", //pm2.5
      "p1": "ugm3", //pm10
      "o3": "ppb", //Ozone O3
      "n2": "ppb", //Nitrogen dioxide NO2 
      "s2": "ppb", //Sulfur dioxide SO2 
      "co": "ppm" //Carbon monoxide CO 
And 
      "pollution": [
        {
          "ts": "2017-02-01T01:15:00.000Z",
          "aqius": 18,
          "mainus": "p1",
          "p1": {
            "conc": 20,
            "aqius": 18,
            "aqicn": 20
          }]

Overall, I have everything needed to accomplish my 5 milestones which are
1.	Identification of 3 different data sources
2.	Cleaning / Formatting File Data Source
3.	Cleaning / Formatting Website Data
4.	Connecting to an API/Pulling in the data and cleaning/formatting.
5.	Merging the Data and Storing in a Database/Visualizing Data


For formatted Document - Look for document in the github location: FinalProjectWriteUp-Week3and4.docx

# Project Milestone 2
## Cleaning/Formatting Flat File Source

### Problem Statement : Perform at least 5 data transformation and/or cleansing steps to your flat file data. For example:

1. Replace Headers
2. Format data into a more readable format
3. Identify outliers and bad data
4. Find duplicates
5. Fix casing or inconsistent values
6. Conduct Fuzzy Matching

You can submit a Jupyter Notebook or a PDF of your code. If you submit a .py file you need to also include a PDF or attachment of your results.

### Solution : 
Solution starts below

In [54]:
# Step: Load necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [56]:
# Step: Read XLS file from local directory
df_ff = pd.read_excel("13. PC Wise Voters Turn Out.xls", skiprows=3)
df_ff.head()

,State Name,PC NO.,PC NAME,ELECTORS,MALE,FEMALE,THIRD GENDER,TOTAL,NRI,Unnamed: 9,TOTAL VOTERS,VOTER TURN OUT (%),MALE .1,FEMALE .1,THIRD GENDER .1
0,Andaman & Nicobar Islands,1.0,Andaman & Nicobar Islands,318471.0,109407.0,97671.0,2.0,207080.0,0.0,318.0,207398.0,65.123041,64.633080,65.468402,22.222222
1,Andhra Pradesh,1.0,Aruku,1451418.0,523085.0,544258.0,19.0,1067362.0,0.0,10873.0,1078235.0,74.288386,73.705294,73.387125,20.212766
2,Andhra Pradesh,2.0,Srikakulam,1553860.0,548060.0,594937.0,14.0,1143011.0,0.0,21275.0,1164286.0,74.928629,70.079112,77.105128,6.698565
3,Andhra Pradesh,3.0,Vizianagaram,1503980.0,603059.0,605843.0,7.0,1208909.0,0.0,13524.0,1222433.0,81.279871,79.979603,80.796195,5.691057
4,Andhra Pradesh,4.0,Visakhapatnam,1829300.0,608306.0,624713.0,7.0,1233026.0,0.0,6895.0,1239921.0,67.781173,66.255537,68.569682,6.034483

In [124]:
# Task 1 - Replacing Headers
# MALE - Renamed to Male Vote Count
# FEMALE - Renamed to Female Vote Count
# THIRDGENDER - Renamed to ThirdGender Vote Count
# TOTAL is Sum of above three or sum of all EVM votes so renaming it Total EVM Votes Count
# Unnamed: 9 is Postal Votes Count - So will name column as Postal Votes
# TOTAL VOTERS - Renamed as Total Votes
# MALE.1 is renamed as MALE VOTES PERCENT
# FEMALE.1 is renamed as FEMALE VOTES PERCENT
# THIRDGENDER.1 is renamed as THIRDGENDER VOTES PERCENT

# Additionally - Also need to skip footer 5 rows, was having issues when trying to convert data type
header_ff = ["State Name", "PC No", "PC Name", "Electors","Male Vote Count","Female Vote Count", 
             "Third Gender Vote Count","Total EVM Votes Count","NRI Votes Count","Postal Votes Count","Total Votes Count", "Voter Turnout %",
            "Male Votes %", "Female Votes %","Third Gender Votes %"]

df_ff = pd.read_excel("13. PC Wise Voters Turn Out.xls", skiprows=3,skipfooter=5,names=header_ff)
df_ff

,State Name,PC No,PC Name,Electors,Male Vote Count,Female Vote Count,Third Gender Vote Count,Total EVM Votes Count,NRI Votes Count,Postal Votes Count,Total Votes Count,Voter Turnout %,Male Votes %,Female Votes %,Third Gender Votes %
0,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,318471,109407,97671,2,207080,0,318,207398,65.123041,64.633080,65.468402,22.222222
1,Andhra Pradesh,1,Aruku,1451418,523085,544258,19,1067362,0,10873,1078235,74.288386,73.705294,73.387125,20.212766
2,Andhra Pradesh,2,Srikakulam,1553860,548060,594937,14,1143011,0,21275,1164286,74.928629,70.079112,77.105128,6.698565
3,Andhra Pradesh,3,Vizianagaram,1503980,603059,605843,7,1208909,0,13524,1222433,81.279871,79.979603,80.796195,5.691057
4,Andhra Pradesh,4,Visakhapatnam,1829300,608306,624713,7,1233026,0,6895,1239921,67.781173,66.255537,68.569682,6.034483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,West Bengal,38,Bardhaman Purba,1698089,731115,706739,10,1437864,0,1739,1439603,84.777830,84.073992,85.310133,22.222222
538,West Bengal,39,Bardhaman Durgapur,1733578,738241,693229,5,1431475,0,1714,1433189,82.672311,83.723765,81.384679,18.518519
539,West Bengal,40,Asansol,1615865,664991,572239,2,1237232,0,919,1238151,76.624656,78.820007,74.110975,4.545455
540,West Bengal,41,Bolpur,1705073,747330,711617,2,1458949,0,2980,1461929,85.739965,85.656715,85.471511,8.333333
541,West Bengal,42,Birbhum,1699219,743725,703397,1,1447123,0,2985,1450108,85.339677,86.151973,84.145543,5.263158

In [131]:
# Task 2 - Checking for Outliers & Bad Data
# State Name, PC No, PC Name Should not be empty
print("Is Any State Name Null ? - %r " % df_ff['State Name'].isnull().values.any())
print("Is Any PC No Null ? - %r " % df_ff['PC No'].isnull().values.any())
print("Is Any PC Name Null ? - %r " % df_ff['PC Name'].isnull().values.any())

# Task 3 - Rounding % values to 2 decimal places for better readability
df_ff['Voter Turnout %'] = df_ff['Voter Turnout %'].round(decimals=2)
df_ff['Male Votes %'] = df_ff['Male Votes %'].round(decimals=2)
df_ff['Female Votes %'] = df_ff['Female Votes %'].round(decimals=2)
df_ff['Third Gender Votes %'] = df_ff['Third Gender Votes %'].round(decimals=2)
df_ff

Is Any State Name Null ? - False
Is Any PC No Null ? - False
Is Any PC Name Null ? - False

,State Name,PC No,PC Name,Electors,Male Vote Count,Female Vote Count,Third Gender Vote Count,Total EVM Votes Count,NRI Votes Count,Postal Votes Count,Total Votes Count,Voter Turnout %,Male Votes %,Female Votes %,Third Gender Votes %
0,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,318471,109407,97671,2,207080,0,318,207398,65.12,64.63,65.47,22.22
1,Andhra Pradesh,1,Aruku,1451418,523085,544258,19,1067362,0,10873,1078235,74.29,73.71,73.39,20.21
2,Andhra Pradesh,2,Srikakulam,1553860,548060,594937,14,1143011,0,21275,1164286,74.93,70.08,77.11,6.70
3,Andhra Pradesh,3,Vizianagaram,1503980,603059,605843,7,1208909,0,13524,1222433,81.28,79.98,80.80,5.69
4,Andhra Pradesh,4,Visakhapatnam,1829300,608306,624713,7,1233026,0,6895,1239921,67.78,66.26,68.57,6.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,West Bengal,38,Bardhaman Purba,1698089,731115,706739,10,1437864,0,1739,1439603,84.78,84.07,85.31,22.22
538,West Bengal,39,Bardhaman Durgapur,1733578,738241,693229,5,1431475,0,1714,1433189,82.67,83.72,81.38,18.52
539,West Bengal,40,Asansol,1615865,664991,572239,2,1237232,0,919,1238151,76.62,78.82,74.11,4.55
540,West Bengal,41,Bolpur,1705073,747330,711617,2,1458949,0,2980,1461929,85.74,85.66,85.47,8.33
541,West Bengal,42,Birbhum,1699219,743725,703397,1,1447123,0,2985,1450108,85.34,86.15,84.15,5.26

In [135]:
#Task 4 - Find duplicates
# To check for duplicates, PC Name Should be Unique (Generally it should be combination of PC Name and No)
print("Is Any PC Name duplicate ? - {}".format(any(df_ff['PC Name'].duplicated())))
duplicateRowsDF = df_ff[df_ff.duplicated(['PC Name'])]
display(duplicateRowsDF)
# Checking the Combination of PC Name and PC No
duplicateRowsDF = df_ff[df_ff.duplicated(['PC Name','PC No'])]
display(duplicateRowsDF)
# Since the Combination check returns no values we are good

Is Any PC Name duplicate ? - True

,State Name,PC No,PC Name,Electors,Male Vote Count,Female Vote Count,Third Gender Vote Count,Total EVM Votes Count,NRI Votes Count,Postal Votes Count,Total Votes Count,Voter Turnout %,Male Votes %,Female Votes %,Third Gender Votes %
254,Maharashtra,19,Aurangabad,1886284,659019,537423,7,1196449,0,2278,1198727,63.55,66.30,60.23,28.00
461,Uttar Pradesh,47,Hamirpur,1749100,590920,496952,14,1087886,0,2143,1090029,62.32,61.95,62.49,37.84
477,Uttar Pradesh,63,Maharajganj,1915408,607060,618619,7,1225686,0,1538,1227224,64.07,59.30,69.39,2.66

Empty DataFrame
Columns: [State Name, PC No, PC Name, Electors, Male Vote Count, Female Vote Count, Third Gender Vote Count, Total EVM Votes Count, NRI Votes Count, Postal Votes Count, Total Votes Count, Voter Turnout %, Male Votes %, Female Votes %, Third Gender Votes %]
Index: []

In [154]:
# Task 5 - Checking Validity and adding a column for Validity
# Logic Used for validity - 
# 1. Male Vote Count + Female Vote Count + Third Gender Vote Count= Total EVM Votes Count
# 2. Total EVM Votes Count + Postal Votes Count = Total Votes Count

# Case 1.
df_ff["Validity"] = (df_ff['Male Vote Count'] +
                     df_ff['Female Vote Count'] +
                     df_ff['Third Gender Vote Count'] == df_ff['Total EVM Votes Count'])

# FOR DEBUGGING - Uncomment if needed - print("Any Invalid Values due to Case 1 - ",(df_ff['Validity'] == False ).any())
# Case 2.
df_ff["Validity"] = (df_ff['Total EVM Votes Count'] +
                     df_ff['Postal Votes Count'] == df_ff['Total Votes Count'])

# FOR DEBUGGING - Uncomment if needed - print("Any Invalid Values due to Case 2 - ",(df_ff['Validity'] == False ).any())

display(df_ff)

Any Invalid Values due to Case 1 -  False
Any Invalid Values due to Case 2 -  False

,State Name,PC No,PC Name,Electors,Male Vote Count,Female Vote Count,Third Gender Vote Count,Total EVM Votes Count,NRI Votes Count,Postal Votes Count,Total Votes Count,Voter Turnout %,Male Votes %,Female Votes %,Third Gender Votes %,Validity
0,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,318471,109407,97671,2,207080,0,318,207398,65.12,64.63,65.47,22.22,True
1,Andhra Pradesh,1,Aruku,1451418,523085,544258,19,1067362,0,10873,1078235,74.29,73.71,73.39,20.21,True
2,Andhra Pradesh,2,Srikakulam,1553860,548060,594937,14,1143011,0,21275,1164286,74.93,70.08,77.11,6.70,True
3,Andhra Pradesh,3,Vizianagaram,1503980,603059,605843,7,1208909,0,13524,1222433,81.28,79.98,80.80,5.69,True
4,Andhra Pradesh,4,Visakhapatnam,1829300,608306,624713,7,1233026,0,6895,1239921,67.78,66.26,68.57,6.03,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,West Bengal,38,Bardhaman Purba,1698089,731115,706739,10,1437864,0,1739,1439603,84.78,84.07,85.31,22.22,True
538,West Bengal,39,Bardhaman Durgapur,1733578,738241,693229,5,1431475,0,1714,1433189,82.67,83.72,81.38,18.52,True
539,West Bengal,40,Asansol,1615865,664991,572239,2,1237232,0,919,1238151,76.62,78.82,74.11,4.55,True
540,West Bengal,41,Bolpur,1705073,747330,711617,2,1458949,0,2980,1461929,85.74,85.66,85.47,8.33,True
541,West Bengal,42,Birbhum,1699219,743725,703397,1,1447123,0,2985,1450108,85.34,86.15,84.15,5.26,True

In [155]:
# Task 6 - Checking if all Data is valid
print("Is Any Data Invalid ? - {}".format(any(df_ff['Validity'] == False)))

Is Any Data Invalid ? - False

# Project Milestone 3
## Cleaning/Formatting Website Data

### Problem Statement : Perform at least 5 data transformation and/or cleansing steps to your website data. For example:

1. Replace Headers
2. Format data into a more readable format
3. Identify outliers and bad data
4. Find duplicates
5. Fix casing or inconsistent values
6. Conduct Fuzzy Matching

You can submit a Jupyter Notebook or a PDF of your code. If you submit a .py file you need to also include a PDF or attachment of your results.

### Solution : 
Solution starts below

In [64]:
# importing required libraries
from bs4 import BeautifulSoup
import pandas as pd

In [65]:
# Utility Functions to read the URL and save it as html in local to read later as needed
# Wrting the result to a file out.html

# URL of the website data. Data is available in tables.
wiki_url = "https://en.wikipedia.org/wiki/Results_of_the_2019_Indian_general_election"

def writeToHTML(result):
    print("Writing to File..Start")
    with open("out.html", 'wb') as f:
        f.write(result)
    print("Writing to File..Done")

import urllib.request

# Reading the HTML Page
with urllib.request.urlopen(wiki_url) as url:
    s = url.read()
    # Ithis would output the html source code
    writeToHTML(s)

Writing to File..Start
Writing to File..Done

In [66]:
# Reading the downloaded file - out.html
with open("out.html", "r", encoding="utf-8") as fd1:
    soup = BeautifulSoup(fd1, "html.parser")
    print(type(soup))

<class 'bs4.BeautifulSoup'>

In [67]:
# Task: Find the tables you will need to deal with(how many tables are there?)
all_tables = soup.find_all("table")
print("Total number of tables are {} ".format(len(all_tables)))

Total number of tables are 81

In [68]:
# Task: Find the right table using bs4 
# After inspecting the data, we find that the one with class=wikitable sortable collapsible" is the 
# table that holds
data_table = soup.findAll("table", {"class": "wikitable sortable collapsible"})
print(type(data_table))
print(len(data_table))

<class 'bs4.element.ResultSet'>
2

In [69]:
# As we see there are two tables after that filtering, lets look at them and see which one is ours
# after inspection we see that the one of our interest is in second place at line number 4274
# while the other one is at line 450
# So Reading the one of our interest
header_web = [th.getText().strip() for th in data_table[1].findAll('tbody')[0].findAll('th')]
header_web

['State',
 'Parliamentary Constituency',
 'Winner',
 'Runner Up',
 'Margin',
 'No.',
 'Name',
 'Type',
 'Candidate',
 'Party',
 'Votes',
 'Candidate',
 'Party',
 'Votes',
 'Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli',
 'Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [70]:
# We may not be able to use headers directly as we have multiple levels for rows and also one present in column
# the values of interest lie between
# 'Margin', - this would be the last column, which is difference of votes between Winner and Runner Up
# 'No.', - this is Parliamentary Constituency No.
# 'Name', - This is Name of Parliamentary Constituency
# 'Type', - This is the Parliamentary Constituency Type
# 'Candidate', - This is Winning Candidate Name
# 'Party', - This is Winning Candidate Party
# 'Votes', - This is Winning Candidate Votes Count
# 'Candidate', - This is RunnerUp Candidate Name
# 'Party', - This is RunnerUp Candidate Party
# 'Votes', - This is RunnerUp Candidate Votes Count
header1 = ["PC No","PC Name","PC Type","Winning Candidate","Winning Color","Winning Party","Winning Votes",
          "RunnerUp Candidate","RunnerUp Color","RunnerUp Party","RunnerUp Votes","Margin"]

In [92]:
# Reading the Data and putting in df after replacing headers(Task 1 - Replace Headers)
rows = data_table[1].findAll('tbody')[0].findAll('tr')[2:]
data_rows = [[td.get_text().strip() for td in tr.findAll('td')] for tr in rows]
df_web = pd.DataFrame(data_rows, columns=header1)
df_web.head(10)

,PC No,PC Name,PC Type,Winning Candidate,Winning Color,Winning Party,Winning Votes,RunnerUp Candidate,RunnerUp Color,RunnerUp Party,RunnerUp Votes,Margin
0,1,Andaman & Nicobar Islands,GEN,Kuldeep Rai Sharma,,Indian National Congress,"95,308",Vishal Jolly,,Bharatiya Janata Party,"93,901","1,407"
1,1,Araku,(ST),Goddeti Madhavi,,YSR Congress Party,"5,62,190",Kishore Chandra Deo,,Telugu Desam Party,"3,38,101","2,24,089"
2,2,Srikakulam,GEN,Ram Mohan Naidu Kinjarapu,,Telugu Desam Party,"5,34,544",Duvvada Srinivas,,YSR Congress Party,"5,27,891","6,653"
3,3,Vizianagaram,GEN,Bellani Chandrasekhar,,YSR Congress Party,"5,78,418",Pusapati Ashok Gajapathi Raju,,Telugu Desam Party,"5,30,382","48,036"
4,4,Visakhapatnam,GEN,MVV Satyanarayana,,YSR Congress Party,"4,36,906",Bharat Muthukumilli,,Telugu Desam Party,"4,32,492","4,414"
5,5,Anakapalli,GEN,Beesetti Venkata Satyavathi,,YSR Congress Party,"5,86,226",Aadari Anand,,Telugu Desam Party,"4,97,034","89,192"
6,6,Kakinada,GEN,Vanga Geetha,,YSR Congress Party,"5,37,630",Chalamalasetti Sunil,,Telugu Desam Party,"5,11,892","25,738"
7,7,Amalapuram,(SC),Chinta Anuradha,,YSR Congress Party,"4,85,313",Ganti Harish,,Telugu Desam Party,"4,45,347","39,966"
8,8,Rajahmundry,GEN,Margani Bharat,,YSR Congress Party,"5,82,024",Maganti Rupa,,Telugu Desam Party,"4,60,390","1,21,634"
9,9,Narasapuram,GEN,Kanumuru Raghu Rama Krishna Raju,,YSR Congress Party,"4,47,594",Vetukuri Venkata Siva Rama Raju,,Telugu Desam Party,"4,15,685","31,909"

In [93]:
# Will Clear the Winning Color and RunnerUp Color Columns as I will not use them
# Task 2 - Format data into a more readable format
df_web = df_web.drop(["Winning Color","RunnerUp Color"], axis=1)
df_web.head(10)

,PC No,PC Name,PC Type,Winning Candidate,Winning Party,Winning Votes,RunnerUp Candidate,RunnerUp Party,RunnerUp Votes,Margin
0,1,Andaman & Nicobar Islands,GEN,Kuldeep Rai Sharma,Indian National Congress,"95,308",Vishal Jolly,Bharatiya Janata Party,"93,901","1,407"
1,1,Araku,(ST),Goddeti Madhavi,YSR Congress Party,"5,62,190",Kishore Chandra Deo,Telugu Desam Party,"3,38,101","2,24,089"
2,2,Srikakulam,GEN,Ram Mohan Naidu Kinjarapu,Telugu Desam Party,"5,34,544",Duvvada Srinivas,YSR Congress Party,"5,27,891","6,653"
3,3,Vizianagaram,GEN,Bellani Chandrasekhar,YSR Congress Party,"5,78,418",Pusapati Ashok Gajapathi Raju,Telugu Desam Party,"5,30,382","48,036"
4,4,Visakhapatnam,GEN,MVV Satyanarayana,YSR Congress Party,"4,36,906",Bharat Muthukumilli,Telugu Desam Party,"4,32,492","4,414"
5,5,Anakapalli,GEN,Beesetti Venkata Satyavathi,YSR Congress Party,"5,86,226",Aadari Anand,Telugu Desam Party,"4,97,034","89,192"
6,6,Kakinada,GEN,Vanga Geetha,YSR Congress Party,"5,37,630",Chalamalasetti Sunil,Telugu Desam Party,"5,11,892","25,738"
7,7,Amalapuram,(SC),Chinta Anuradha,YSR Congress Party,"4,85,313",Ganti Harish,Telugu Desam Party,"4,45,347","39,966"
8,8,Rajahmundry,GEN,Margani Bharat,YSR Congress Party,"5,82,024",Maganti Rupa,Telugu Desam Party,"4,60,390","1,21,634"
9,9,Narasapuram,GEN,Kanumuru Raghu Rama Krishna Raju,YSR Congress Party,"4,47,594",Vetukuri Venkata Siva Rama Raju,Telugu Desam Party,"4,15,685","31,909"

In [94]:
# Task 3 - Identify outliers and bad data
# For our analysis, PC Name, Winning Candidate is mandatory
# So checking if any of the values is null
print("Is Any Candidate Name Null - %r " % df_web['Winning Candidate'].isnull().values.any())
print("Is Any PC Name Null - %s " % df_web['PC Name'].isnull().values.any())

#Task 4 - Find duplicates
# To check for duplicates, PC Name Should be Unique (Generally it should be combination of PC Name and No)
print("Is Any PC Name duplicate ? - {}".format(any(df_web['PC Name'].duplicated())))
print("Is Any PC Name duplicate ? - {}".format(any(df_web['PC Name'].duplicated())))
# duplicate Rows with PC Name Only
duplicateRowsDF = df_web[df_web.duplicated(['PC Name'])]
display(duplicateRowsDF)
# Checking the Combination of PC Name and PC No
duplicateRowsDF = df_web[df_web.duplicated(['PC Name','PC No'])]
display(duplicateRowsDF)
# Since the Combination check returns no values we are good

Is Any Candidate Name Null - False
Is Any PC Name Null - False
Is Any PC Name duplicate ? - True
Is Any PC Name duplicate ? - True

,PC No,PC Name,PC Type,Winning Candidate,Winning Party,Winning Votes,RunnerUp Candidate,RunnerUp Party,RunnerUp Votes,Margin
261,19,Aurangabad,GEN,Imtiyaz Jaleel,All India Majlis-e-Ittehadul Muslimeen,"3,89,042",Chandrakant Khaire,Shiv Sena,"3,84,550","4,492"
462,47,Hamirpur,GEN,Pushpendra Singh Chandel,Bharatiya Janata Party,"5,75,122",Dilip Kumar Singh,Bahujan Samaj Party,"3,26,470","2,48,652"
478,63,Maharajganj,GEN,Pankaj Choudhary,Bharatiya Janata Party,"7,26,349",Akhilesh Kumar Singh,Samajwadi Party,"3,85,925","3,40,424"

Empty DataFrame
Columns: [PC No, PC Name, PC Type, Winning Candidate, Winning Party, Winning Votes, RunnerUp Candidate, RunnerUp Party, RunnerUp Votes, Margin]
Index: []

In [96]:
# Task 5 - Converting Votes Counts columns to int and also replace commnas from the string
import string

# first replacing commas
df_web['Winning Votes'] = df_web['Winning Votes'].str.translate(str.maketrans('','',string.punctuation))
df_web['RunnerUp Votes'] = df_web['RunnerUp Votes'].str.translate(str.maketrans('','',string.punctuation))
df_web['Margin'] = df_web['Margin'].str.translate(str.maketrans('','',string.punctuation))
df_web

,PC No,PC Name,PC Type,Winning Candidate,Winning Party,Winning Votes,RunnerUp Candidate,RunnerUp Party,RunnerUp Votes,Margin
0,1,Andaman & Nicobar Islands,GEN,Kuldeep Rai Sharma,Indian National Congress,95308,Vishal Jolly,Bharatiya Janata Party,93901,1407
1,1,Araku,(ST),Goddeti Madhavi,YSR Congress Party,562190,Kishore Chandra Deo,Telugu Desam Party,338101,224089
2,2,Srikakulam,GEN,Ram Mohan Naidu Kinjarapu,Telugu Desam Party,534544,Duvvada Srinivas,YSR Congress Party,527891,6653
3,3,Vizianagaram,GEN,Bellani Chandrasekhar,YSR Congress Party,578418,Pusapati Ashok Gajapathi Raju,Telugu Desam Party,530382,48036
4,4,Visakhapatnam,GEN,MVV Satyanarayana,YSR Congress Party,436906,Bharat Muthukumilli,Telugu Desam Party,432492,4414
...,...,...,...,...,...,...,...,...,...,...
538,38,Bardhaman Purba,(SC),Sunil Kumar Mondal,All India Trinamool Congress,640834,Paresh Chandra Das,Bharatiya Janata Party,551523,89311
539,39,Bardhaman-Durgapur,GEN,S. S. Ahluwalia,Bharatiya Janata Party,598376,Mamtaz Sanghamita,All India Trinamool Congress,595937,2439
540,40,Asansol,GEN,Babul Supriyo,Bharatiya Janata Party,633378,Moon Moon Sen,All India Trinamool Congress,435741,197637
541,41,Bolpur,(SC),Asit Kumar Mal,All India Trinamool Congress,699171,Ramprasad Das,Bharatiya Janata Party,592769,106402
542,42,Birbhum,GEN,Shatabdi Roy,All India Trinamool Congress,654077,Dudh Kumar Mondal,Bharatiya Janata Party,565153,88924

In [97]:
# Task 6 - Changing Votes Counts and Margin columns as integer types
df_web['Winning Votes'] = df_web['Winning Votes'].astype(int)
df_web['RunnerUp Votes'] = df_web['RunnerUp Votes'].astype(int)
df_web['Margin'] = df_web['Margin'].astype(int)
df_web

,PC No,PC Name,PC Type,Winning Candidate,Winning Party,Winning Votes,RunnerUp Candidate,RunnerUp Party,RunnerUp Votes,Margin
0,1,Andaman & Nicobar Islands,GEN,Kuldeep Rai Sharma,Indian National Congress,95308,Vishal Jolly,Bharatiya Janata Party,93901,1407
1,1,Araku,(ST),Goddeti Madhavi,YSR Congress Party,562190,Kishore Chandra Deo,Telugu Desam Party,338101,224089
2,2,Srikakulam,GEN,Ram Mohan Naidu Kinjarapu,Telugu Desam Party,534544,Duvvada Srinivas,YSR Congress Party,527891,6653
3,3,Vizianagaram,GEN,Bellani Chandrasekhar,YSR Congress Party,578418,Pusapati Ashok Gajapathi Raju,Telugu Desam Party,530382,48036
4,4,Visakhapatnam,GEN,MVV Satyanarayana,YSR Congress Party,436906,Bharat Muthukumilli,Telugu Desam Party,432492,4414
...,...,...,...,...,...,...,...,...,...,...
538,38,Bardhaman Purba,(SC),Sunil Kumar Mondal,All India Trinamool Congress,640834,Paresh Chandra Das,Bharatiya Janata Party,551523,89311
539,39,Bardhaman-Durgapur,GEN,S. S. Ahluwalia,Bharatiya Janata Party,598376,Mamtaz Sanghamita,All India Trinamool Congress,595937,2439
540,40,Asansol,GEN,Babul Supriyo,Bharatiya Janata Party,633378,Moon Moon Sen,All India Trinamool Congress,435741,197637
541,41,Bolpur,(SC),Asit Kumar Mal,All India Trinamool Congress,699171,Ramprasad Das,Bharatiya Janata Party,592769,106402
542,42,Birbhum,GEN,Shatabdi Roy,All India Trinamool Congress,654077,Dudh Kumar Mondal,Bharatiya Janata Party,565153,88924

In [101]:
# Task 7 - Checking if the Margin Calculated is same as present in data
# Setting the new column validity value as True if its correct
df_web["Validity"] = (df_web['Winning Votes'] - df_web['RunnerUp Votes'] == df_web['Margin'])
df_web

,PC No,PC Name,PC Type,Winning Candidate,Winning Party,Winning Votes,RunnerUp Candidate,RunnerUp Party,RunnerUp Votes,Margin,Validity
0,1,Andaman & Nicobar Islands,GEN,Kuldeep Rai Sharma,Indian National Congress,95308,Vishal Jolly,Bharatiya Janata Party,93901,1407,True
1,1,Araku,(ST),Goddeti Madhavi,YSR Congress Party,562190,Kishore Chandra Deo,Telugu Desam Party,338101,224089,True
2,2,Srikakulam,GEN,Ram Mohan Naidu Kinjarapu,Telugu Desam Party,534544,Duvvada Srinivas,YSR Congress Party,527891,6653,True
3,3,Vizianagaram,GEN,Bellani Chandrasekhar,YSR Congress Party,578418,Pusapati Ashok Gajapathi Raju,Telugu Desam Party,530382,48036,True
4,4,Visakhapatnam,GEN,MVV Satyanarayana,YSR Congress Party,436906,Bharat Muthukumilli,Telugu Desam Party,432492,4414,True
...,...,...,...,...,...,...,...,...,...,...,...
538,38,Bardhaman Purba,(SC),Sunil Kumar Mondal,All India Trinamool Congress,640834,Paresh Chandra Das,Bharatiya Janata Party,551523,89311,True
539,39,Bardhaman-Durgapur,GEN,S. S. Ahluwalia,Bharatiya Janata Party,598376,Mamtaz Sanghamita,All India Trinamool Congress,595937,2439,True
540,40,Asansol,GEN,Babul Supriyo,Bharatiya Janata Party,633378,Moon Moon Sen,All India Trinamool Congress,435741,197637,True
541,41,Bolpur,(SC),Asit Kumar Mal,All India Trinamool Congress,699171,Ramprasad Das,Bharatiya Janata Party,592769,106402,True
542,42,Birbhum,GEN,Shatabdi Roy,All India Trinamool Congress,654077,Dudh Kumar Mondal,Bharatiya Janata Party,565153,88924,True

In [104]:
# Task 8 - Checking if any data is invalid as per this new Validity column
print("Is Any Data Invalid ? - {}".format(any(df_web['Validity'] == False)))

Is Any Data Invalid ? - False

# Project Milestone 4
## Connecting to an API/Pulling in the Data and Cleaning/Formatting

### Problem Statement : Perform at least 5 data transformation and/or cleansing steps to your API data. For example:

1. Replace Headers
2. Format data into a more readable format
3. Identify outliers and bad data
4. Find duplicates
5. Fix casing or inconsistent values
6. Conduct Fuzzy Matching

You can submit a Jupyter Notebook or a PDF of your code. If you submit a .py file you need to also include a PDF or attachment of your results.


### Solution : 
Solution starts below

# Project Milestone 5
## Merging the Data and Storing in a Database/Visualizing Data

### Problem Statement :
Now that you have cleaned and transformed your 3 datasets, you need to load them into a database. You can choose what kind of database (SQLLite or MySQL, Postgre SQL are all free options). You will want to load each dataset into SQL Lite as an individual table and then you must join the datasets together in Python into 1 dataset.

Once all the data is merged together in your database, create 5 visualizations that demonstrate the data you have cleansed. You should have at least 2 visualizations that have data from more than one source (meaning, if you have 3 tables, you must have visualizations that span across 2 of the tables – you are also welcome to use your consolidated dataset that you created in the previous step, if you do that, you have met this requirement).

For the visualization portion of the project, you are welcome to use a python library like Matplotlib, Seaborn, or an R package ggPlot2, Plotly, or Tableau/PowerBI.

PowerBI is a free tool that could be used – Tableau only has a free web author. If your use Tableau/PowerBI you need to submit a PDF with your assignment vs the Tableau/PowerBI file. /p>

Submit your code for merging and storing in the database, with your code for the visualizations along with a 250-500-word summary of what you learned and had to do to complete the project. You can submit a Jupyter Notebook or a PDF of your code. If you submit a .py file you need to also include a PDF or attachment of your results.

Remember – your GitHub repository can act as a portfolio for potential employers! I would highly suggest using this to submit your work, so you can fill it with good content that demonstrates the projects you are working on!


### Solution : 
Solution starts below