Complete the following exercise. You can submit a Jupyter Notebook or a PDF of your code. 
If you submit a .py file you need to also include a PDF or attachment of your results.

Data Wrangling with Python: Activity 11, page 320

In [3]:
# Activity 11: Retrieving Data Correctly from databases

# In the activity we have a persons Table.........See details in textbook. Details about the data
# Pg. 320

In [4]:
# Step 1: Connect to petsdb and check if connection is successful
import sqlite3
conn = sqlite3.connect('petsdb')

In [6]:
# function to check if connection is successful
def connection_status(conn):
    try:
        conn.execute("SELECT 1 FROM persons")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection is Closed-",e)
        return False
    except Exception as e:
        print("Other Error-",e)
        return False

print("Is Connection good ?",connection_status(conn))

Is Connection good ? True

In [8]:
# Checking all the tables in the db
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('persons',), ('pets',)]

In [10]:
# Checking table structure and data types - persons
cursor.execute("PRAGMA table_info([persons])")
print(cursor.fetchall())

# SELF NOTES
# PRAGMA is equivalent of DESCRIBE

[(0, 'id', 'INTEGER', 0, None, 0), (1, 'first_name', 'TEXT', 0, None, 0), (2, 'last_name', 'TEXT', 0, None, 0), (3, 'age', 'INTEGER', 0, None, 0), (4, 'city', 'TEXT', 0, None, 0), (5, 'zip_code', 'INTEGER', 0, None, 0)]

In [11]:
# Checking table structure and data types - pets
cursor.execute("PRAGMA table_info([pets])")
print(cursor.fetchall())

[(0, 'owner_id', 'INTEGER', 0, None, 0), (1, 'pet_name', 'TEXT', 0, None, 0), (2, 'pet_type', 'REAL', 0, None, 0), (3, 'treatment_done', 'INTEGER', 0, None, 0)]

In [12]:
# Step 2: Find the different age groups in the persons database
for pplCnt, ageGroup in cursor.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("AgeGroup - {} - Count of People - {}".format(ageGroup,pplCnt))

AgeGroup - 5 - Count of People - 2
AgeGroup - 6 - Count of People - 1
AgeGroup - 7 - Count of People - 1
AgeGroup - 8 - Count of People - 3
AgeGroup - 9 - Count of People - 1
AgeGroup - 11 - Count of People - 2
AgeGroup - 12 - Count of People - 3
AgeGroup - 13 - Count of People - 1
AgeGroup - 14 - Count of People - 4
AgeGroup - 16 - Count of People - 2
AgeGroup - 17 - Count of People - 2
AgeGroup - 18 - Count of People - 3
AgeGroup - 19 - Count of People - 1
AgeGroup - 22 - Count of People - 3
AgeGroup - 23 - Count of People - 2
AgeGroup - 24 - Count of People - 3
AgeGroup - 25 - Count of People - 2
AgeGroup - 27 - Count of People - 1
AgeGroup - 30 - Count of People - 1
AgeGroup - 31 - Count of People - 3
AgeGroup - 32 - Count of People - 1
AgeGroup - 33 - Count of People - 1
AgeGroup - 34 - Count of People - 2
AgeGroup - 35 - Count of People - 3
AgeGroup - 36 - Count of People - 3
AgeGroup - 37 - Count of People - 1
AgeGroup - 39 - Count of People - 2
AgeGroup - 40 - Count of People - 1
AgeGroup - 42 - Count of People - 1
AgeGroup - 44 - Count of People - 2
AgeGroup - 48 - Count of People - 2
AgeGroup - 49 - Count of People - 1
AgeGroup - 50 - Count of People - 1
AgeGroup - 51 - Count of People - 2
AgeGroup - 52 - Count of People - 2
AgeGroup - 53 - Count of People - 2
AgeGroup - 54 - Count of People - 2
AgeGroup - 58 - Count of People - 1
AgeGroup - 59 - Count of People - 1
AgeGroup - 60 - Count of People - 1
AgeGroup - 61 - Count of People - 1
AgeGroup - 62 - Count of People - 2
AgeGroup - 63 - Count of People - 1
AgeGroup - 65 - Count of People - 2
AgeGroup - 66 - Count of People - 2
AgeGroup - 67 - Count of People - 1
AgeGroup - 68 - Count of People - 3
AgeGroup - 69 - Count of People - 1
AgeGroup - 70 - Count of People - 1
AgeGroup - 71 - Count of People - 4
AgeGroup - 72 - Count of People - 1
AgeGroup - 73 - Count of People - 5
AgeGroup - 74 - Count of People - 3

In [13]:
# Step 3: Find the age group that has maximum number of people
# ordering the above query by descending count. So the top will be the max
for pplCnt, ageGroup in cursor.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("AgeGroup - {} - Count of People - {}".format(ageGroup,pplCnt))
    break

AgeGroup - 73 - Count of People - 5

In [14]:
# Step 4: Find the people who do not have last name
# Count of people who do not have last name
for result in cursor.execute("SELECT count(*) FROM persons where last_name is null"):
    print("People Count with No Last Name - ",result)
    break
# First name of people with no last name
for result in cursor.execute("SELECT first_name FROM persons where last_name is null"):
    print("First Names of people with No Last Name - ",result)

People Count with No Last Name -  (60,)
First Names of people with No Last Name -  ('Erica',)
First Names of people with No Last Name -  ('Jordi',)
First Names of people with No Last Name -  ('Chasity',)
First Names of people with No Last Name -  ('Gregg',)
First Names of people with No Last Name -  ('Cary',)
First Names of people with No Last Name -  ('Francisca',)
First Names of people with No Last Name -  ('Raleigh',)
First Names of people with No Last Name -  ('Maria',)
First Names of people with No Last Name -  ('Mariane',)
First Names of people with No Last Name -  ('Mona',)
First Names of people with No Last Name -  ('Kayla',)
First Names of people with No Last Name -  ('Karlie',)
First Names of people with No Last Name -  ('Morris',)
First Names of people with No Last Name -  ('Sandy',)
First Names of people with No Last Name -  ('Hector',)
First Names of people with No Last Name -  ('Hiram',)
First Names of people with No Last Name -  ('Tressa',)
First Names of people with No Last Name -  ('Berry',)
First Names of people with No Last Name -  ('Pearline',)
First Names of people with No Last Name -  ('Maynard',)
First Names of people with No Last Name -  ('Dorian',)
First Names of people with No Last Name -  ('Mylene',)
First Names of people with No Last Name -  ('Lafayette',)
First Names of people with No Last Name -  ('Tara',)
First Names of people with No Last Name -  ('Destiny',)
First Names of people with No Last Name -  ('Lesly',)
First Names of people with No Last Name -  ('Perry',)
First Names of people with No Last Name -  ('Maritza',)
First Names of people with No Last Name -  ('Grant',)
First Names of people with No Last Name -  ('Laury',)
First Names of people with No Last Name -  ('Name',)
First Names of people with No Last Name -  ('Estefania',)
First Names of people with No Last Name -  ('Destiney',)
First Names of people with No Last Name -  ('Jaquelin',)
First Names of people with No Last Name -  ('Alfonzo',)
First Names of people with No Last Name -  ('Lisandro',)
First Names of people with No Last Name -  ('Priscilla',)
First Names of people with No Last Name -  ('Elenora',)
First Names of people with No Last Name -  ('Rudolph',)
First Names of people with No Last Name -  ('Ona',)
First Names of people with No Last Name -  ('Rebeca',)
First Names of people with No Last Name -  ('Sigurd',)
First Names of people with No Last Name -  ('Alice',)
First Names of people with No Last Name -  ('Dane',)
First Names of people with No Last Name -  ('Judge',)
First Names of people with No Last Name -  ('Allene',)
First Names of people with No Last Name -  ('Jalen',)
First Names of people with No Last Name -  ('Myron',)
First Names of people with No Last Name -  ('Travon',)
First Names of people with No Last Name -  ('Shayna',)
First Names of people with No Last Name -  ('Myah',)
First Names of people with No Last Name -  ('Letha',)
First Names of people with No Last Name -  ('Felton',)
First Names of people with No Last Name -  ('London',)
First Names of people with No Last Name -  ('Koby',)
First Names of people with No Last Name -  ('Golden',)
First Names of people with No Last Name -  ('Anissa',)
First Names of people with No Last Name -  ('Sid',)
First Names of people with No Last Name -  ('Ernesto',)
First Names of people with No Last Name -  ('Josianne',)

In [17]:
# Step 5: Find people who have more than one pet
# This is all counts of pets for > 1
cursor.execute("SELECT count(owner_id) FROM  pets GROUP BY owner_id HAVING count(owner_id) > 1")
print(cursor.fetchall())

# add up all the results from previous query
for result in cursor.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM  pets GROUP BY owner_id HAVING count(owner_id) > 1)"):
    print("People Count with more than 1 PET -", result)
    break

[(3,), (3,), (2,), (3,), (2,), (3,), (2,), (2,), (2,), (2,), (2,), (3,), (2,), (3,), (2,), (5,), (2,), (2,), (3,), (3,), (3,), (4,), (2,), (2,), (4,), (3,), (3,), (2,), (2,), (2,), (3,), (3,), (2,), (5,), (3,), (2,), (3,), (3,), (2,), (2,), (3,), (3,), (2,)]
People Count with more than 1 PET - (43,)

In [20]:
# Step 6: Find out how many pets have recieved treatments
# checking distinct values of treatment_done column
cursor.execute("SELECT DISTINCT(treatment_done) FROM pets")
print(cursor.fetchall())
# based on answer from above query assuming treatment_done =1  means treatment has been done
for result in cursor.execute("SELECT count(*) FROM pets WHERE treatment_done=1"):
    print("Count of Pets with treatment -", result)
    break

[(0,), (1,)]
Count of Pets with treatment - (36,)

In [21]:
# Step 7: Find out how many pets have recieved treatments and the type of pet is known
# adding additional where clause for pet type not null
for result in cursor.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type is not null"):
    print("Count of Pets with treatment -", result)
    break

Count of Pets with treatment - (16,)

In [24]:
# Step 8: Find out how many pets are from the city call east port
# we will need to join the table from person as city information is available in owners data
for result in cursor.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id where persons.city='east port'"):
    print("Count of Pets from east port -", result)
    break

Count of Pets from east port - (49,)

In [25]:
# Step 9: Find out how many pets are from the city call east port and who recieved a treatment
# adding check for pets.treatment_done = 1 to the above query
for result in cursor.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id where persons.city='east port' AND pets.treatment_done=1"):
    print("Count of Pets from east port -", result)
    break

Count of Pets from east port - (11,)